:root {
    --primary: #b41c0b;
    --dark: #202020;
    --bg-white: #F2F6F7;
}

/* * {
    outline: 1px dotted red;
} */

html {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

body {
    font-family: 'Encode Sans', sans-serif !important;
    color: var(--dark);
    margin: 0;
    background-color: var(--bg-white);
}

/*body::-webkit-scrollbar {*/
/*    display: none !important;*/
/*}*/

section {
    min-height: 100vh;
    display: grid;
    scroll-snap-align: start;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.active {
    font-weight: bold;
    color: var(--primary) !important; 
}

.navbar a{
    text-decoration: none;
    color: var(--dark);
    margin-right: 3rem;
}

.navbar a:hover {
    color: var(--primary);
}

#overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: var(--bg-white);
}

#overlay img {
    margin: auto;
    width: 5%;
    animation: Loading 1.5s ease;
    animation-iteration-count: infinite;
}

@keyframes Loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 480px) {
    section {
        scroll-snap-align:unset;
    }
}





